body {
  font-family: roboto;
}

.SCA-header {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
}

.SCA-header-menu {
  width: 412px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.SCA-header-menu-list {
  color: #009688;
  font-size: 14px;
  font-weight: bold;
}

.SCA-header-menu-list:hover, a:hover {
  color: #32ab9f;
  cursor: pointer;
}

.SCA-header-menu-list:not(:last-child) {
  margin-right: 48px;
}

a:active, a:visited, a:link {
  text-decoration: none;
  color: #009688;
}
.footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-family: Roboto Light;
    background-color: #009688;
    color: white;
    padding-top: 25px;
    font-size: 14px;
  }
  .hometalktous {
    margin-right: 48px;
    color: #009688;
    font-size: 14px;
    font-weight: bold;
  }
